<div class="d-flex navbar">
  <%= link_to root_path, class: "text-decoration-none colortextlogo" do  %>
  <div class="clap d-flex">
    <%=image_tag "clap.svg"%>
    <p class="mt-3 mx-4">SYNOPSIX</p>
  </div>
  <% end %>

  <div class="justify-content-between">
    <button id="loginbtn" class="btnsyno">
      <%= link_to "Login", new_user_session_path, class: "text-decoration-none loginlogo" %>
    </button>
    <button id="signupbtn" class="btnsyno mx-5">
      <%= link_to "Signup", new_user_registration_path, class: "text-decoration-none signuplogo"  %>
    </button>
  </div>
</div>
