<div class="d-flex navbar">
  <%= link_to root_path, class: "text-decoration-none colortextlogo" do  %>
  <div class="clap d-flex">
    <%=image_tag "clap.svg"%>
    <p class="mt-3 mx-4">SYNOPSIX</p>
  </div>
  <% end %>

  <div class="justify-content-between">
    <button id="loginbtn" class="btnsyno">
      <span>Login</span>
    </button>
    <button id="signupbtn" class="btnsyno mx-5">
      <span>Signup</span>
    </button>
  </div>
</div>
