 <div class="container" data-controller="game-input">

  <div class="mt-5">
    <%= render "form_input", player_game: @player_game, input: @input %>
  </div>

  <div data-game-input-target="gameContent">
    <%= render "game_content", player_game: @player_game %>
  </div>
</div>
