<div class="row justify-content-around mt-5">
  <div class="col-4 text-center bg-green rounded p-3 tab-performances">
    <h5>My performances</h5>
    <%= cl_image_tag current_user.photo.key, width:50, height: 50, class:"rounded-circle" %>
    <h5><%=current_user.username%></h5>
    <hr>
    <h6>Score:(current_user.timergame_score) points </h6>
    <hr>
    <ul>
    <% input_games.each do |game|  %>
      <li>
        <%= game.movie.title  %>
      </li>
    <% end %>
    </ul>

  </div>
    <div class="col-6  text-center bg-light-red rounded p-3 tab-leaderboard">
    <h5>Leaderboard</h5>
    <hr>
    <p>Ici, il y aura le classement des meilleurs joueurs pour le timer game</p>
  </div>
</div>
