<div class="game-bg">
  <div class="mt-5 container">
    <nav class= "text-center">
      <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
        <button class="tab-link active margin-right" id="nav-input-tab" data-bs-toggle="tab" data-bs-target="#nav-input" type="button" role="tab" aria-controls="nav-input" aria-selected="true">Input</button>
        <button class="tab-link margin-left" id="nav-timer-tab" data-bs-toggle="tab" data-bs-target="#nav-timer" type="button" role="tab" aria-controls="nav-timer" aria-selected="false">Timer</button>
      </div>
    </nav>
    <div class="tab-content mt-5" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-input" role="tabpanel" aria-labelledby="nav-input-tab" tabindex="0">
        <%= render "input_dashboard", input_games: @input_games, players_inputgame: @players_inputgame, wins_inputgame: @wins_inputgame %>
      </div>
      <div class="tab-pane fade" id="nav-timer" role="tabpanel" aria-labelledby="nav-timer-tab" tabindex="0">
        <%= render "timer_dashboard", timer_games: @timer_games, players_timergame: @players_timergame, wins_timergame: @wins_timergame %>
      </div>
    </div>
  </div>
</div>
