<div class="text-design row p-5 wallpaper">
  <div class="col-12 text-center">
    <h2>Here are your statistics</h2>
  </div>
  <div class="col-4">
    <h2>Hello <%=current_user.username%> </h2>
    <img class="avatar" src="https://cours-informatique-gratuit.fr/wp-content/uploads/2017/10/avatar.png">
    <p><%=link_to "Add new friend"%></p>
    <p><%=link_to "Update my account"%></p>
  </div>
  <div class="col-8 p-5">
    <p>Best time: 35min - PAS LA STAT</p>
    <p>classement - PAS LA STAT</p>
  </div>
</div>
