<div class="d-flex justify-content-center maindiv">
  <div class="text-center gamemodesolo">
    <h2>Word discover</h2>
    <%=link_to "Play", new_game_path(game_type: 0), class: "btnplay"%>
  </div>

  <div class="text-center gamemodemulti">
    <h2>Against time</h2>
    <%=link_to "Play", new_game_path(game_type: 1), class: "btnplay"%>
  </div>
</div>
<%= render "shared/footer" %>
