<div class="row">
  <div class="col-9">
      <h1 class="Presentation">An addictive game for movie fans</h1>
  </div>
<div class="row">
  <div class="d-flex col-6">
    <div class="d-flex justify-content-center maindiv">
      <div class="text-center mx-2 ">
        <%=link_to "Play word discover", new_game_path(game_type: 0), class: "btnplay"%>
      </div>
      <div class="text-center mx-2">
        <%=link_to "Against time", new_game_path(game_type: 1), class: "btnplay"%>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>
