<div class="px-5">
  <div class="row">
    <div class="col-9">
        <h1 class="presentation mb-5">An addictive game<br>for movie fans</h1>
    </div>
      <div class="row">
      <div class="d-flex col-6">
        <div class="d-flex">
          <div class="text-center me-5 d-flex flex-shrink col-6">
            <%=link_to "Play Word Search", new_game_path(game_type: 0), class: "btnplay"%>
          </div>
          <div class="text-center d-flex flex-shrink col-6">
            <%=link_to "Play Against Time", new_game_path(game_type: 1), class: "btnplay"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>
