
.btn-small-red {
  cursor: pointer;
  background-color: $our-red;
  width: 175px;
  color: white;
  font-weight: bolder;
  padding: 5px;
  border-radius: 8px;
  text-align: center;
}

.btn-small-grey {
  cursor: pointer;
  background-color: $our-dark-grey;
  width: 175px;
  color: white;
  font-weight: bolder;
  padding: 5px;
  border-radius: 8px;
  text-align: center;
}

.btn-small-grey:hover, .btn-small-red:hover {
  text-decoration: none;
  color: inherit;
}


.btn-main-red{
  cursor: pointer;
  border-radius: 8px;
  padding: 4px 20px;
  background-color: $our-red;
  color: white;
  text-decoration: none!important;
  border: none!important;
}

.btn-input {
  text-decoration: none;
  opacity: 0.9;
  border-radius: 4px;
  height: 38px;
  padding: 4px 20px;
  font-size: 18px;
  background-color: $our-red;
  border: $our-red;
  color: white;
  font-weight: 700;
  margin-top: 0px;
  cursor: pointer;
}

.btn-input:hover {
  background-color: $our-dark-red;
  opacity: 0.8;
  font-weight: 700;
  border: none;
  color: white;
}


.btninput:active {
  background-color:  $our-dark-red;
  opacity: 0.8;
  font-weight: 700;
  border: none;
}

.btninput:focus {
  background-color:  $our-dark-red;
  opacity: 0.8;
  font-weight: 700;
  border: none;
}

.btnplay {
  border-radius: 8px;
  padding: 14px 40px;
  background-color: $our-red;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none!important;
  border: none;
}

.btnplay:hover {
  background-color:  $our-dark-red;
  color:rgba(255,255,255,0.8);
}
