.tab-my-stats {
  background-color: $our-dark-grey;
  border-radius: 8px;
  padding: 3%;
  max-height: 300px;
  // overflow: hidden;
}

.tab-leaderboard {
  background-color: $our-red;
  border-radius: 8px;
  padding: 3%;
  max-height: 300px;
  // overflow: hidden;
}

.nav {
  background-color: transparent;
  border-style: none;
  text-align: center;
}

.tab-link {
  color: white;
  font-size: 40px;
  font-weight:600;
  background-color: transparent;
  border-style: none;
}

.tab-link.active {
  color: $our-red;
  padding-bottom: 3px;
  border-bottom: solid ;
}

.margin-right {
  margin-right: 20px;
}

.margin-left {
  margin-left: 20px;
}

.tab-content-title {
  border-bottom: 1.5px solid;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.score {
  // border-bottom: 1px solid;
  margin-bottom: 10px;
  padding-left: 5px;;
}


.leaderboard-scroll {
  background-color: rgba(0,0,0,0);
  height: 70%;
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: nowrap;
  &::-webkit-scrollbar{
    border-radius: 10px;
    // width: 12px;
    height: 5px;
    background-color: rgba(150,150,150,0.2);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    // height: 30px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: $our-dark-grey;
  }
  &::-webkit-scrollbar-track {
    height: 16px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: rgba(150,150,150,0.4);
  }
}

.mystats-scroll {
  background-color: rgba(0,0,0,0);
  height: 30%;
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: nowrap;
  &::-webkit-scrollbar{
    border-radius: 10px;
    // width: 12px;
    height: 5px;
    background-color: rgba(150,150,150,0.2);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    // height: 30px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: $our-red;
  }
  &::-webkit-scrollbar-track {
    height: 16px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: rgba(150,150,150,0.4);
  }
}
