.bggameboard {
  background-color: $our-light-grey;
  border-radius: 8px;
}

.bginputs {
  background-color: $our-dark-grey;
  border-radius: 8px;
  padding: 8px, 8px, 8px, 8px;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}


.gamebg{
  background: linear-gradient(180deg, $our-black, $our-black 60%, white, white 60%);
}
