.gamebg {
  background: linear-gradient(180deg, $our-black, $our-black 380px, white, white 380px);
  min-height: 90vh;
  height:100%;
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  z-index: 1;
  padding-top: 80px;

  .row {
    width: 100vw;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.bggameboard {
  background-color: $our-light-grey;
  border-radius: 8px;
  height: 100%;
  padding: 8px;
}

.bginputs {
  background-color: $our-dark-grey;
  border-radius: 8px;
  padding: 8px;
  height:200px;
}



.hint{
  background-color: $our-light-grey;
  border-radius: 8px;
  padding: 8px;
  li{
    min-height: 60px;
  }
  p{
    font-weight: 700;
    text-align: center;
  }
  .btn-small-grey{
    width: 100%;
  }
}

.game-center{
text-align: center;
}

.game-title{
  font-weight: 800;
  font-style: italic;
  font-size: 48;
}

.text-hint{
  color:$our-black;
  font-style: italic;
}
