body.bg-home {
  overflow: hidden;
  background-size:cover;
  width: 100vw;
  background-image:linear-gradient(115deg, rgba(0,0,0,1) 31%, rgba(255,255,255,0) 73%), url(Wallpaper_Tom_Cruise.jpg);
}

.bg-new {
  position:absolute;
  top:0;
  bottom:0;
  right: 0;
  left:0;
  padding-top:100px;
  height:100vh;
  background: rgb(22,22,22);
  background: linear-gradient(40deg, rgba(22,22,22,1) 29%, rgba(45,45,45,1) 52%, rgba(88,88,88,1) 70%, rgba(138,138,138,1) 90%, rgba(159,159,159,1) 99%);
}

.maindiv {
  justify-content: center;
  margin-top: 10%;
  width: 100vw;
  height: 200px;
  vertical-align: middle;
  // border: 2px solid rgb(26, 255, 0);
}

.gamemodesolo, .gamemodemulti {
  // border: 2px solid #DB222A;
  width: 30%;
  height: 100%;
  justify-content: center;
}

.gamemodesolo {
  border-right: 2px solid #FFFFFF;
}

.presentation {
  margin-top: 100px;
  font-family: Montserrat;
  font-weight: 800;
  font-style: italic;
  font-size:64px;
}

#trailer-wrapper > * {
  padding: 0px !important;
  height:200%;
}
