
.maindiv {
  justify-content: center;
  margin-top: 10%;
  width: 100vw;
  height: 200px;
  vertical-align: middle;
  // border: 2px solid rgb(26, 255, 0);
}

.gamemodesolo, .gamemodemulti {
  // border: 2px solid #DB222A;
  width: 30%;
  height: 100%;
  justify-content: center;
}

.gamemodesolo {
  border-right: 2px solid #FFFFFF;
}
