// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "select_category";
@import "footer";
@import "timer";
@import "poster";
@import "worddiscover";
@import "dashboard";
@import "btn";
@import "home";
@import "login_signup";



.arrowleft {
  margin-right: 20px;
  height: 10%;
  width: auto;
  z-index: 10;
  rotate: 180deg;
  left: 0px;
  top: 300px;
  width: 100px;
}

.zindexbg {
  position:fixed;
  overflow: hidden;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: -1000;
}

.arrowright {
  margin-left: 20px;
  height: 10%;
  width: auto;
  z-index: 10;
  right: 0px;
  width: 100px;
  top: 300px;
}

body {
  color: #FFFFFF;
  min-height: 100vh;
  background-image: radial-gradient(rgba(92, 90, 90, 0.5), rgba(0, 0, 0, 1)), url("https://assets.justacote.com/photos_entreprises/gaumont-pathe-levallois-perret-62f0d2620e10b.jpg");
  background-size: cover;
  // background: radial-gradient(circle at 10% 20%, rgba(0, 0, 0, 0.5) 0%, rgba(64, 64, 64, 0.5) 90.2%);
}


.bggameboard {
  background-color: rgba(170, 170, 170, 0.5)
}
