.navbar-synopsix {
  justify-content: space-between;
  height: 80px;
  z-index: 2;

  .title{
    margin-left: 32px;
    display: flex;
    align-items: center;
    gap:16px
  }
}

.navbar-toggler-icon {
  color: $light-gray;
}

.navbar-synopsix .navbar-collapse {
  flex-grow: 0;
}

.navbar-synopsix .navbar-brand img {
  width: 40px;
}

.navbar-synopsix .navbar_img {
  font-family: Inter;
  font-style: bold;
  font-weight: 500;
  font-size: 24px;
  height: 60;
  width: auto;
}

.navbar-synopsix h2 {
  color: $light-gray;
  font-size: 24px;
  margin:0
}

.nav-item {
  margin-right: 8px;
  display: flex;
  align-items: center;
}
