.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  height: 200px;
  width: 250px;
  border-radius: 5px;
  background-size: cover;
  color: rgba(255, 255, 255, 1);
  font-size: 35px;
  font-weight: bolder;
  flex-shrink: 0;
  opacity: 50%;
  border: black;
  border-width: 5px;
  border-style: solid;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  cursor: pointer;
}

.card:hover {
  opacity: 55%
}

.scroll {
  margin: 4px, 4px;
  padding: 4px;
  overflow-x: scroll;
  white-space: nowrap;
}

.card-active {
  border: red;
  border-width: 5px;
  border-style: solid;
  opacity: 1;
}

.card:hover {
  opacity: 1
}

.linear-gradient {
  width: fit-content;
  height: fit-content;
  background-color: black;
}


.btn {
  background-color:  #DB222A;
  border-radius: 30px;
  padding: 10px;
  color: white;
  margin-top: 10px;
}

.card-wrapper {
  scroll-snap-align: start end;
  margin-right: 80px;
  border-radius: 10px;
}

// .carousel {
//   // padding-left: 360px;
//   // padding-right: 700px;
//   // margin-left: 215px;
//   // margin-right: 215px;
//   width: 90%;
//   overflow-y: hidden;
//   overflow-x: scroll;
//   scroll-snap-type: inline;
// }

.carousel::-webkit-scrollbar {
  display:scroll;
}

.background-red {
  background-color: #DB222A;
}
