.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  height: 200px;
  width: 700px;
  border-radius: 8px;
  background-image: url(bg_category.png);
  background-size: cover;
  color: white;
  font-size: 20px;
  font-weight: bold;
  flex-shrink: 0;
  scroll-snap-align: start end;
}

.card-active {
  background-image: url(bg_category_active.png);
}


.btn {
  background-color:  #DB222A;
  border-radius: 30px;
  padding: 10px;
  color: white
}


.carousel {
  width: 100vw;
  justify-content: center;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.background-red {
  background-color: #DB222A;
}

