.not_found, .far_to_found, .not_far_to_found, .founded {
  font-size: 24px;
  font-weight: 200;
  padding: 2px 4px;
  font-family: 'Roboto Mono', monospace;
  border-radius: 4px;
}

.not_found {
  color:black;
  background-color: black;
}

.far_to_found {
  color:rgba(255, 0, 0, 0.8);
  background-color:rgb(0, 0, 0);
  &:hover{
    color:rgba(255, 0, 0, 1);
  }
}

.not_far_to_found {
  color : rgba(255, 136, 0, 0.8);
  background-color:rgb(0, 0, 0);
  &:hover{
    color:rgba(255, 136, 0, 1);
  }
}

.founded {
  color: white;
  font-weight: 400;
}
