.not_found, .far_to_found, .not_far_to_found, .wfound {
  font-size: 20px;
  font-weight: 800;
  font-family: 'Roboto Mono', monospace;
  border-radius: 4px;
}

.not_found {
  color:black;
  background-color: black;
}

.far_to_found {
  font-weight: 800;
  color:$our-red;
  background-color:#ffffff;
  &:hover{
    color: $our-red;
  }
}

.not_far_to_found {
  font-weight: 800;
  color : $our-orange;
  background-color:#ffffff;
  &:hover{
    color: $our-orange;
  }
}


.lastfound {
  // margin: 6px 6px;
  font-family: 'Roboto Mono', monospace;
  border-radius: 4px;
  animation: lastfound 2000ms forwards;
  color: $our-dark-grey;
  font-weight: 800;
  font-size: 20px;
}

@keyframes lastfound {
  0% { background-color: black;}
  50% {background-color: rgb(1, 170, 69);}
  100% { background-color: rgba(0,0,0,0);}
}


.bggameboard h2 {
  font-size: 32px;
  margin-bottom: 12px;
}


.not-a-word{
  color: $our-dark-grey;
}

.wfound {
  color: $our-dark-grey;
  font-weight: 800;
}

.bggameboard{
span{
  margin-right: 1px;
}
}
