.not_found, .far_to_found, .not_far_to_found, .wfound {
  font-size: 18px;
  font-weight: 200;
  margin: 6px 6px;
  font-family: 'Roboto Mono', monospace;
  border-radius: 4px;
}

.not_found {
  color:black;
  background-color: black;
}

.far_to_found {
  color:rgba(255, 0, 0, 0.8);
  background-color:black;
  &:hover{
    color:rgba(255, 0, 0, 1);
  }
}

.not_far_to_found {
  color : rgba(255, 136, 0, 0.8);
  background-color:black;
  &:hover{
    color:rgba(255, 136, 0, 1);
  }
}

.wfound {
  color: white;
  font-weight: 400;
}

.bggameboard h2 {
  font-size: 32px;
  margin-bottom: 24px;
}
