// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";



.scroll-horizontal {
  background-color: rgba(0,0,0,0);
  height: 235px;
  display:flex;
  white-space:nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  &::-webkit-scrollbar{
    border-radius: 10px;
    // width: 12px;
    height: 5px;
    background-color: rgba(150,150,150,0.2);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    // height: 30px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: $our-red;
  }
  &::-webkit-scrollbar-track {
    height: 16px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: rgba(150,150,150,0.4);
  }
  .arrowleft {
    position:absolute;
    margin-right: 20px;
    height: 50px;
    z-index: 10;
    left: 10px;
    top: 265px;
    width: 50px;
  }

  .arrowright {
    position:absolute;
    margin-left: 20px;
    height: 50px;
    z-index: 10;
    top: 265px;
    right: 10px;
    width: 50px;
  }
}
